.DS_Store
# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================

.env
.env.*
!.env.example

# ==========================
# Uploaded Images
# ==========================

Uploads/
Test-Images/
# ==========================
# Generated Output
# ==========================

Output-img/

# ==========================
# Temporary Files
# ==========================

Temp/

# ==========================
# YOLO / Ultralytics Outputs
# ==========================

runs/

# ==========================
# PaddleOCR / PaddleX Models
# ==========================

.paddlex/
paddlex/

# ==========================
# Jupyter Notebook
# ==========================

.ipynb_checkpoints/

# ==========================
# macOS
# ==========================

.DS_Store

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Database files
# ==========================
Parking.db
