<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ParkX-Next-generation smart parking</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="app-shell">
    <header class="hero">
        <h1>Welcome to ParkX<br>Next-generation smart parking</h1>
        <hr />
        <a href="/" style="text-decoration: none;">
            <button id="admin" style="display: block;margin-bottom: 10px;width: 33%;">Back To User</button>
        </a>
        <h2 style="color: black;font-size: 30px;"> 👨🏻‍💻 ADMINISTRATOR PANEL 👨🏻‍💻</h2>
    </header>
</div>
<div class="dashboard-stats">

    <div class="stat-card">
        <div class="stat-title">Total Vehicles</div>
        <div class="stat-value" id="totalVehicles">0</div>
    </div>

    <div class="stat-card">
        <div class="stat-title">Currently Parked</div>
        <div class="stat-value" id="currentlyParked">0</div>
    </div>

    <div class="stat-card">
        <div class="stat-title">Available Slots</div>
        <div class="stat-value" id="availableVehicles">0</div>
    </div>

    <div class="stat-card">
        <div class="stat-title">Today's Check-ins</div>
        <div class="stat-value" id="todayCheckins">0</div>
    </div>

</div>
<div class="vehicle-table-container" >
    <h2 style="color: black;font-size: 30px;">Vehicle Database</h2>
    <table id="vehicleTable">
        <thead>
            <tr><th>ID</th><th>NUMBER PLATE</th><th>VEHICLE TYPE</th></tr>
        </thead>
        <tbody id="vehicleBody">
            
        </tbody>
    </table>
</div>
<div class="vehicle-table-container">
    <h2 style="color: black;font-size: 30px;">Parking Database</h2>
    <table id="parkingTable">
        <thead>
            <tr><th>ID</th><th>VEHICLE ID</th><th>CHECK-IN-TIME</th><th>CHECK-OUT-TIME</th><th>STATUS</th></tr>
        </thead>
        <tbody id="parkingBody">
            
        </tbody>
    </table>
</div>
<script>
    window.addEventListener("DOMContentLoaded", async function () {
        const Vbody = document.getElementById("vehicleBody");
        
        try {
            const responseV = await fetch("/vehicleData", {
                method: "GET"
            });
            
            const dataV = await responseV.json();
            
            dataV.forEach(vehicle => {
                const trElement = document.createElement("tr");
                
                trElement.innerHTML = `
                    <td>${vehicle.id}</td>
                    <td>${vehicle.plate_number}</td>
                    <td>${vehicle.vehicle_type}</td>
                `;
                
                Vbody.appendChild(trElement);
            });
        } catch (error) {
            console.error("Error fetching vehicle data:", error);
        }
    });
    window.addEventListener("DOMContentLoaded", async function () {
        const Pbody = document.getElementById("parkingBody");
        
        try {
            const responseP = await fetch("/parkingData", {
                method: "GET"
            });
            
            const dataP = await responseP.json();
            
            dataP.forEach(parking => {
                const trElement = document.createElement("tr");
                
                trElement.innerHTML = `
                    <td>${parking.id}</td>
                    <td>${parking.vehicle_id}</td>
                    <td>${parking.check_in_time}</td>
                    <td>${parking.check_out_time}</td>
                    <td>${parking.status}</td>
                `;
                
                Pbody.appendChild(trElement);
            });
        } catch (error) {
            console.error("Error fetching vehicle data:", error);
        }
    });
    window.addEventListener("DOMContentLoaded", async function () {
        try {
            const Dresponse = await fetch("/dashstats", {
                method: "GET"
            });
            
            const data = await Dresponse.json();
            document.getElementById("totalVehicles").textContent =data.total_vehicles;

            document.getElementById("currentlyParked").textContent = data.currently_parked

            document.getElementById("availableVehicles").textContent = data.available

            document.getElementById("todayCheckins").textContent = data.today_checkins
        } catch (error) {
            console.error("Error fetching vehicle data:", error);
        }
    });
</script>
</body>
</html>
