<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ParkX-Next-generation smart parking</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="app-shell">
    <header class="hero">
        <h1>Welcome to ParkX<br>Next-generation smart parking</h1>
        <hr />
        <h2 style="color: black;"> 👨🏻‍💻 ADMINISTRATOR PANEL 👨🏻‍💻</h2>
    </header>
</div>
<div class="auth">
    <input type="password" id="pass" placeholder="Enter The Password" style="display: block;align-items: center;">
    <button id="authButton" type="button" style="display: block;margin-bottom: 10px;width: 33%;"">
        Authenticate
    </button>
</div>
<script>
    // HardCoded Password
    const pass = "Admin1234";
    const auth = document.getElementById("authButton");
    // async function loadData() {
    //     let response = await fetch("/admincontent");
    //     let data = await response.json();
    // }
    auth.addEventListener("click",async function ()  {
        let passwd = document.getElementById("pass").value;
        if (passwd == pass){
            // loadData();
            alert("Authentication Succesful");
            window.location.href = "/admincontent";
        }
        else{
            alert("Incorrect Password");
        }
    });
</script>
</body>
</html>