<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ParkX-Next-generation smart parking</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="app-shell">
<header class="hero">
    <h1>Welcome to ParkX<br>Next-generation smart parking</h1>
    <hr />
</header>
</div>
<div>
    <button id="redetectButton" type="button" style="display: block;"><a href="/" style="text-decoration: none; color: white;">Back To Detection</a></button>
</div>
<!-- displaying message coming from backend -->
<div class="checkout-card">
    <h1>{{ message }}</h1>

    <p>Vehicle Number: {{ plate }}</p>

    <p>Parking Duration: {{ time }} hours</p>

    <p>Amount Payable: ₹{{ amount }}/-</p>
</div>
</body>