<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> ParkX-Next-generation smart parking</title>
  <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>
<div class="app-shell">
<header class="hero">
    <h1>Welcome to ParkX<br>Next-generation smart parking</h1>
    <hr />
</header>
</div>
<div>
    <button id="redetectButton" type="button" style="display: block;"><a href="/" style="text-decoration: none; color: white;">Back To Detection</a></button>
</div>
<div class="upi-interface" id="upiinterface" style="display: none;">
    <img src="/static/payment-image/QR.png" alt="yourQRLogo" width="250" height="150" style="margin-bottom: 20px;">
    <p>Vehicle Number: {{ plate }}</p>
    <p>Amount Payable: ₹{{ amount }}/-</p>
    <button id="upisubmitpay" type="button" style="display: block;">Confirm Pay</button>
</div>
<div class="fastag-interface" id="fastaginterface" style="display: none;">
    <img src="/static/payment-image/Fastag-logo.png" alt="FastagLogo" width="200" height="150" style="margin-bottom: 20px;">
    <p>Vehicle Number: {{ plate }}</p>
    <p>Amount Payable: ₹{{ amount }}/-</p>
    <button id="fastagsubmitpay" type="button" style="display: block;">Confirm Pay</button>
</div>
<!-- displaying message coming from backend -->
<div class="checkout-card" id="checkoutcard">
    <h1>{{ message }}</h1>

    <p>Vehicle Number: {{ plate }}</p>

    <p>Parking Duration: {{ time }} hours</p>

    <p>Amount Payable: ₹{{ amount }}/-</p>
</div>
<div class="pay-icons" id="payicons">
    <a href="#" id="upi" style="text-decoration: none;">
        <img src="/static/payment-image/UPI-Logo-vector.svg" alt="UPILogo" width="300" height="100">
    </a>
    <a href="#" id="fastag" style="text-decoration: none;">
        <img src="/static/payment-image/Fastag-logo.png" alt="fastag-Logo" width="300" height="100">
    </a>
</div>

</body>